<mat-tab-group class="matTabGroup">
  <mat-tab class="matTab" label="Primary">
  <section class="matTabSection">
  <div class="h-max w-full flex flex-col pt-[580px] pb-24 gap-6 overflow-y-auto">

  <!-- ----------------------------XL------------------ -->

  <div class="w-full rounded-md overflow-hidden">
  <div class="sizeHeader">XL</div>

           <div class="elements-card-by-size">
             <div class="elementCard">
               <!-- ----------------------------UI-Elements-Starts----------------------- -->
               <div class="elementBar">
                   <!-- <mat-form-field class="inputClass">
      <mat-label>Favorite food</mat-label>
      <mat-select name="food">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->

    <div class="relative w-[306px] rounded-[4px] bg-skin-primary_bg border-[1px] border-skin-tertiary_border outline-none" name="car" id="">
      <input [(ngModel)]="values" class="w-[85%] p-3 h-full outline-none" placeholder="Select" type="">
      <button (click)="select()" class="w-[15%] h-max">
        >
      </button>

      <div *ngIf="IsSelected" class="w-full h-28 p-1 bg-skin-primary_bg border-[1px] border-skin-tertiary_border rounded-[4px] absolute top-12 left-0 z-50">
        <div id="op1" value="car" (click)="opSelect()" class="px-4 py-[10px] text-sm">Car 1</div>
        <div id="op1" value="car" (click)="opSelect()" class="px-4 py-[10px] text-sm">Car 2</div>
        <div id="op1" value="car" (click)="opSelect()" class="px-4 py-[10px] text-sm">Car 3</div>
        <div id="op1" value="car" (click)="opSelect()" class="px-4 py-[10px] text-sm">Car 4</div>
      </div>
    </div>

    <!-- <div class="dropdown relative w-[306px] rounded-[4px] bg-skin-primary_bg border-[1px] border-skin-tertiary_border outline-none">
      <div class="select w-[85%] p-3 h-full outline-none">
        <span class="selected">Figma</span>
        <div class="caret w-[15%] h-max"></div>
      </div>
      <ul class="menu list-none w-full p-1 bg-skin-primary_bg border-[1px] border-skin-tertiary_border rounded-[4px] absolute top-14 left-0 z-50">
        <li class="px-4 py-[10px] text-sm">Framer</li>
        <li class="px-4 py-[10px] text-sm">figma</li>
        <li class="px-4 py-[10px] text-sm">sketch</li>
      </ul>
    </div> -->

    <!-- <select class="w-[306px] p-[12px] rounded-[4px] bg-skin-primary_bg border-[1px] border-skin-tertiary_border outline-none appearance-none" name="" id="">
      <option class="mt-4" value="">Select</option>
      <option value="">Select</option>
      <option value="">Select</option>
    </select> -->
               </div>
               <!-- ----------------------------UI-Elements-Ends----------------------- -->
               <!-- ----------------------------UI-Elements-Code-Starts----------------------- -->
               <div class="codeBar">button-xl</div>
               <!-- ----------------------------UI-Elements-Code-Ends----------------------- -->
             </div>
             <div class="elementCard">
               <!-- ----------------------------UI-Elements-Starts----------------------- -->
               <div class="elementBar">
                 <button class="button-disabled-xl" disabled>Button</button>
                </div>

                <!-- ----------------------------UI-Elements-Ends----------------------- -->

                <!-- ----------------------------UI-Elements-Code-Starts----------------------- -->
                <div class="codeBar">button-disabled-xl</div>
                <!-- ----------------------------UI-Elements-Code-Ends----------------------- -->
              </div>
            </div>
          </div>
          <!-- -----------------------------XL-Ends-------------------- -->

          <!-- --------------------------lg--------------------------------- -->
          <div class="w-full rounded-md overflow-hidden">
            <div class="sizeHeader">lg</div>

            <div class="elements-card-by-size">
              <div class="elementCard">
                <!-- ----------------------------UI-Elements-Starts----------------------- -->

                <div class="elementBar">
                  <button class="button-lg">Button</button>
                </div>

                <!-- ----------------------------UI-Elements-Ends----------------------- -->

                <!-- ----------------------------UI-Elements-Code-Starts----------------------- -->
                <div class="codeBar">button-lg</div>
                <!-- ----------------------------UI-Elements-Code-Ends----------------------- -->
              </div>
              <div class="elementCard">
                <!-- ----------------------------UI-Elements-Starts----------------------- -->

                <div class="elementBar">
                  <button class="button-disabled-lg" disabled>Button</button>
                </div>

                <!-- ----------------------------UI-Elements-Ends----------------------- -->

                <!-- ----------------------------UI-Elements-Code-Starts----------------------- -->
                <div class="codeBar">button-disabled-lg</div>
                <!-- ----------------------------UI-Elements-Code-Ends----------------------- -->
              </div>
            </div>
          </div>
          <!-- --------------------------lg-Ends--------------------------------- -->

          <!-- --------------------------md--------------------------------- -->
          <div class="w-full rounded-md overflow-hidden">
            <div class="sizeHeader">md</div>

            <div class="elements-card-by-size">
              <div class="elementCard">
                <!-- ----------------------------UI-Elements-Starts----------------------- -->

                <div class="elementBar">
                  <button class="button-md">Button</button>
                </div>

                <!-- ----------------------------UI-Elements-Ends----------------------- -->

                <!-- ----------------------------UI-Elements-Code-Starts----------------------- -->
                <div class="codeBar">button-md</div>
                <!-- ----------------------------UI-Elements-Code-Ends----------------------- -->
              </div>
              <div class="elementCard">
                <!-- ----------------------------UI-Elements-Starts----------------------- -->

                <div class="elementBar">
                  <button class="button-disabled-md" disabled>Button</button>
                </div>

                <!-- ----------------------------UI-Elements-Ends----------------------- -->

                <!-- ----------------------------UI-Elements-Code-Starts----------------------- -->
                <div class="codeBar">button-disabled-md</div>
                <!-- ----------------------------UI-Elements-Code-Ends----------------------- -->
              </div>
            </div>
          </div>
          <!-- --------------------------md-Ends--------------------------------- -->

          <!-- --------------------------sm--------------------------------- -->
          <div class="w-full rounded-md overflow-hidden">
            <div class="sizeHeader">sm</div>

            <div class="elements-card-by-size">
              <div class="elementCard">
                <!-- ----------------------------UI-Elements-Starts----------------------- -->

                <div class="elementBar">
                  <button class="button-sm">Button</button>
                </div>

                <!-- ----------------------------UI-Elements-Ends----------------------- -->

                <!-- ----------------------------UI-Elements-Code-Starts----------------------- -->
                <div class="codeBar">button-sm</div>
                <!-- ----------------------------UI-Elements-Code-Ends----------------------- -->
              </div>
              <div class="elementCard">
                <!-- ----------------------------UI-Elements-Starts----------------------- -->

                <div class="elementBar">
                  <button class="button-disabled-sm" disabled>Button</button>
                </div>

                <!-- ----------------------------UI-Elements-Ends----------------------- -->

                <!-- ----------------------------UI-Elements-Code-Starts----------------------- -->
                <div class="codeBar">button-disabled-sm</div>
                <!-- ----------------------------UI-Elements-Code-Ends----------------------- -->
              </div>
            </div>
          </div>
          <!-- --------------------------sm-Ends--------------------------------- -->
        </div>
      </section>
    </mat-tab>

    <mat-tab class="matTab" label="Secondary">
      <section class="matTabSection">
        <div
          class="h-max w-full flex flex-col pt-[580px] pb-24 gap-6 overflow-y-auto"
        >
          <!-- ----------------------------XL------------------ -->
          <div class="w-full rounded-md overflow-hidden">
            <div class="sizeHeader">XL</div>

            <div class="elements-card-by-size">
              <div class="elementCard">
                <!-- ----------------------------UI-Elements-Starts----------------------- -->

                <div class="elementBar">
                  <button class="button-secondary-xl">Button</button>
                  <!-- <button mat-raised-button class="button-xl" color="primary" >Button</button> -->
                </div>

                <!-- ----------------------------UI-Elements-Ends----------------------- -->

                <!-- ----------------------------UI-Elements-Code-Starts----------------------- -->
                <div class="codeBar">button-xl</div>
                <!-- ----------------------------UI-Elements-Code-Ends----------------------- -->
              </div>
              <div class="elementCard">
                <!-- ----------------------------UI-Elements-Starts----------------------- -->

                <div class="elementBar">
                  <button class="button-secondary-disabled-xl" disabled>
                    Button
                  </button>
                </div>

                <!-- ----------------------------UI-Elements-Ends----------------------- -->

                <!-- ----------------------------UI-Elements-Code-Starts----------------------- -->
                <div class="codeBar">button-disabled-xl</div>
                <!-- ----------------------------UI-Elements-Code-Ends----------------------- -->
              </div>
            </div>
          </div>
          <!-- -----------------------------XL-Ends-------------------- -->

          <!-- --------------------------lg--------------------------------- -->
          <div class="w-full rounded-md overflow-hidden">
            <div class="sizeHeader">lg</div>

            <div class="elements-card-by-size">
              <div class="elementCard">
                <!-- ----------------------------UI-Elements-Starts----------------------- -->

                <div class="elementBar">
                  <button class="button-secondary-lg">Button</button>
                </div>

                <!-- ----------------------------UI-Elements-Ends----------------------- -->

                <!-- ----------------------------UI-Elements-Code-Starts----------------------- -->
                <div class="codeBar">button-lg</div>
                <!-- ----------------------------UI-Elements-Code-Ends----------------------- -->
              </div>
              <div class="elementCard">
                <!-- ----------------------------UI-Elements-Starts----------------------- -->

                <div class="elementBar">
                  <button class="button-secondary-disabled-lg" disabled>
                    Button
                  </button>
                </div>

                <!-- ----------------------------UI-Elements-Ends----------------------- -->

                <!-- ----------------------------UI-Elements-Code-Starts----------------------- -->
                <div class="codeBar">button-disabled-lg</div>
                <!-- ----------------------------UI-Elements-Code-Ends----------------------- -->
              </div>
            </div>
          </div>
          <!-- --------------------------lg-Ends--------------------------------- -->

          <!-- --------------------------md--------------------------------- -->
          <div class="w-full rounded-md overflow-hidden">
            <div class="sizeHeader">md</div>

            <div class="elements-card-by-size">
              <div class="elementCard">
                <!-- ----------------------------UI-Elements-Starts----------------------- -->

                <div class="elementBar">
                  <button class="button-secondary-md">Button</button>
                </div>

                <!-- ----------------------------UI-Elements-Ends----------------------- -->

                <!-- ----------------------------UI-Elements-Code-Starts----------------------- -->
                <div class="codeBar">button-md</div>
                <!-- ----------------------------UI-Elements-Code-Ends----------------------- -->
              </div>
              <div class="elementCard">
                <!-- ----------------------------UI-Elements-Starts----------------------- -->

                <div class="elementBar">
                  <button class="button-secondary-disabled-md" disabled>
                    Button
                  </button>
                </div>

                <!-- ----------------------------UI-Elements-Ends----------------------- -->

                <!-- ----------------------------UI-Elements-Code-Starts----------------------- -->
                <div class="codeBar">button-disabled-md</div>
                <!-- ----------------------------UI-Elements-Code-Ends----------------------- -->
              </div>
            </div>
          </div>
          <!-- --------------------------md-Ends--------------------------------- -->

          <!-- --------------------------sm--------------------------------- -->
          <div class="w-full rounded-md overflow-hidden">
            <div class="sizeHeader">sm</div>

            <div class="elements-card-by-size">
              <div class="elementCard">
                <!-- ----------------------------UI-Elements-Starts----------------------- -->

                <div class="elementBar">
                  <button class="button-secondary-sm">Button</button>
                </div>

                <!-- ----------------------------UI-Elements-Ends----------------------- -->

                <!-- ----------------------------UI-Elements-Code-Starts----------------------- -->
                <div class="codeBar">button-secondary-sm</div>
                <!-- ----------------------------UI-Elements-Code-Ends----------------------- -->
              </div>
              <div class="elementCard">
                <!-- ----------------------------UI-Elements-Starts----------------------- -->

                <div class="elementBar">
                  <button class="button-secondary-disabled-sm" disabled>
                    Button
                  </button>
                </div>

                <!-- ----------------------------UI-Elements-Ends----------------------- -->

                <!-- ----------------------------UI-Elements-Code-Starts----------------------- -->
                <div class="codeBar">button-secondary-disabled-sm</div>
                <!-- ----------------------------UI-Elements-Code-Ends----------------------- -->
              </div>
            </div>
          </div>
          <!-- --------------------------sm-Ends--------------------------------- -->
        </div>
      </section>
    </mat-tab>

    <mat-tab class="matTab" label="Ghost">
      <section class="matTabSection">
        <div
          class="h-max w-full flex flex-col pt-[580px] pb-24 gap-6 overflow-y-auto"
        >
          <!-- ----------------------------XL------------------ -->
          <div class="w-full rounded-md overflow-hidden">
            <div class="sizeHeader">XL</div>

            <div class="elements-card-by-size">
              <div class="elementCard">
                <!-- ----------------------------UI-Elements-Starts----------------------- -->

                <div class="elementBar">
                  <button class="button-ghost-xl">Button</button>
                  <!-- <button mat-raised-button class="button-xl" color="primary" >Button</button> -->
                </div>

                <!-- ----------------------------UI-Elements-Ends----------------------- -->

                <!-- ----------------------------UI-Elements-Code-Starts----------------------- -->
                <div class="codeBar">button-xl</div>
                <!-- ----------------------------UI-Elements-Code-Ends----------------------- -->
              </div>
              <div class="elementCard">
                <!-- ----------------------------UI-Elements-Starts----------------------- -->

                <div class="elementBar">
                  <button class="button-ghost-disabled-xl" disabled>
                    Button
                  </button>
                </div>

                <!-- ----------------------------UI-Elements-Ends----------------------- -->

                <!-- ----------------------------UI-Elements-Code-Starts----------------------- -->
                <div class="codeBar">button-disabled-xl</div>
                <!-- ----------------------------UI-Elements-Code-Ends----------------------- -->
              </div>
            </div>
          </div>
          <!-- -----------------------------XL-Ends-------------------- -->

          <!-- --------------------------lg--------------------------------- -->
          <div class="w-full rounded-md overflow-hidden">
            <div class="sizeHeader">lg</div>

            <div class="elements-card-by-size">
              <div class="elementCard">
                <!-- ----------------------------UI-Elements-Starts----------------------- -->

                <div class="elementBar">
                  <button class="button-ghost-lg">Button</button>
                </div>

                <!-- ----------------------------UI-Elements-Ends----------------------- -->

                <!-- ----------------------------UI-Elements-Code-Starts----------------------- -->
                <div class="codeBar">button-lg</div>
                <!-- ----------------------------UI-Elements-Code-Ends----------------------- -->
              </div>
              <div class="elementCard">
                <!-- ----------------------------UI-Elements-Starts----------------------- -->

                <div class="elementBar">
                  <button class="button-ghost-disabled-lg" disabled>
                    Button
                  </button>
                </div>

                <!-- ----------------------------UI-Elements-Ends----------------------- -->

                <!-- ----------------------------UI-Elements-Code-Starts----------------------- -->
                <div class="codeBar">button-disabled-lg</div>
                <!-- ----------------------------UI-Elements-Code-Ends----------------------- -->
              </div>
            </div>
          </div>
          <!-- --------------------------lg-Ends--------------------------------- -->

          <!-- --------------------------md--------------------------------- -->
          <div class="w-full rounded-md overflow-hidden">
            <div class="sizeHeader">md</div>

            <div class="elements-card-by-size">
              <div class="elementCard">
                <!-- ----------------------------UI-Elements-Starts----------------------- -->

                <div class="elementBar">
                  <button class="button-ghost-md">Button</button>
                </div>

                <!-- ----------------------------UI-Elements-Ends----------------------- -->

                <!-- ----------------------------UI-Elements-Code-Starts----------------------- -->
                <div class="codeBar">button-md</div>
                <!-- ----------------------------UI-Elements-Code-Ends----------------------- -->
              </div>
              <div class="elementCard">
                <!-- ----------------------------UI-Elements-Starts----------------------- -->

                <div class="elementBar">
                  <button class="button-ghost-disabled-md" disabled>
                    Button
                  </button>
                </div>

                <!-- ----------------------------UI-Elements-Ends----------------------- -->

                <!-- ----------------------------UI-Elements-Code-Starts----------------------- -->
                <div class="codeBar">button-disabled-md</div>
                <!-- ----------------------------UI-Elements-Code-Ends----------------------- -->
              </div>
            </div>
          </div>
          <!-- --------------------------md-Ends--------------------------------- -->

          <!-- --------------------------sm--------------------------------- -->
          <div class="w-full rounded-md overflow-hidden">
            <div class="sizeHeader">sm</div>

            <div class="elements-card-by-size">
              <div class="elementCard">
                <!-- ----------------------------UI-Elements-Starts----------------------- -->

                <div class="elementBar">
                  <button class="button-ghost-sm">Button</button>
                </div>

                <!-- ----------------------------UI-Elements-Ends----------------------- -->

                <!-- ----------------------------UI-Elements-Code-Starts----------------------- -->
                <div class="codeBar">button-secondary-sm</div>
                <!-- ----------------------------UI-Elements-Code-Ends----------------------- -->
              </div>
              <div class="elementCard">
                <!-- ----------------------------UI-Elements-Starts----------------------- -->

                <div class="elementBar">
                  <button class="button-ghost-disabled-sm" disabled>
                    Button
                  </button>
                </div>

                <!-- ----------------------------UI-Elements-Ends----------------------- -->

                <!-- ----------------------------UI-Elements-Code-Starts----------------------- -->
                <div class="codeBar">button-secondary-disabled-sm</div>
                <!-- ----------------------------UI-Elements-Code-Ends----------------------- -->
              </div>
            </div>
          </div>
          <!-- --------------------------sm-Ends--------------------------------- -->
        </div>
      </section>
    </mat-tab>
  </mat-tab-group>
